# Copyright (c) 2025, NVIDIA CORPORATION.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      # Special-case the JSON hook for spdlog_override.cmake
      - id: check-json
        files: cmake/spdlog_override.cmake
        types: [cmake]
      - id: check-yaml
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.7
    hooks:
      - id: fix-smartquotes
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        types_or: [c, c++]
        args: ["-fallback-style=none", "-style=file", "-i"]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: ./scripts/run-cmake-format.sh cmake-format
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
        exclude: |
          (?x)^(
            ^cmake/spdlog_override.cmake
          )
      - id: cmake-lint
        name: cmake-lint
        entry: ./scripts/run-cmake-format.sh cmake-lint
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
        exclude: |
          (?x)^(
            ^cmake/spdlog_override.cmake
          )
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: [tomli]
        args: ["--toml", "pyproject.toml"]
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.16.0
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean"]
