name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  style:
    runs-on: ubuntu-latest
    container:
      image: rapidsai/ci-conda:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-0|${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Run ci/check_style.sh
        run: ci/check_style.sh
  conda-cpp-build:
    needs: style
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@branch-25.04
    with:
      build_type: pull-request
      matrix_filter: group_by(.ARCH) | map(max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]))
      script: ci/build_conda.sh
  wheel-cpp-build:
    needs: style
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-25.04
    with:
      build_type: pull-request
      matrix_filter: group_by(.ARCH) | map(max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]))
      script: ci/build_wheel.sh
  static-build:
    needs: style
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@branch-25.04
    with:
      build_type: pull-request
      container_image: "rapidsai/ci-wheel:latest"
      run_script: "ci/build_static.sh"
